.container div {
    width: 100px;
    height: 100px;
    display: inline-block;
}

#light { 
    background-color: #07bffc;
    position: relative;
}
#dark {
    background-color: blue
}
#light {
    background-color: #07bffc; 
}
#dark {
    background-color: blue;
}
#light {
    background-color: #07bffc;
}
#dark {
    background-color: blue;
}
#light {
    background-color: #07bffc;
}
#dark {
    background-color: blue;
}
#light {
    background-color: #07bffc;
}
#dark {
    background-color: blue;
}
#light {
    background-color: #07bffc;
}
#dark {
    background-color: blue;
}
#light {
    background-color: #07bffc;
}
#dark {
    background-color: blue;
}
#light {
    background-color: #07bffc;
}
#dark {
    background-color: blue;
}
#light {
    background-color: #07bffc;
}
#dark {
    background-color: blue;
}
#light {
    background-color: #07bffc;
}
#dark {
    background-color: blue;
}