.box1{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    margin-top: 120px;
}
.box3{
    width: 100px;
    height: 100px;
    background-color: rgb(0,0,255);
    position: absolute;
    margin-top: 240px;

}.box4{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;    
    margin-top: 360px;
}