body {
    background-image: url("pexels-photo-2254030.jpeg");
}


.header {
    border: 5px solid black;
    padding: 2px;
    margin: 2px;
    text-align: center;
    height: 350px;
}

.nav {
    border: 5px solid black;
    padding: 2px;
    margin: 2px;
    text-align: center;
    height: 250px;
}

.section {
    border: 5px solid black;
    padding: 2px;
    margin: 2px;
    text-align: center;
    float: left;
    height: 400px;
    width: 2690px;
}

.aside {
    border: 5px solid black;
    padding: 2px;
    margin: 2px;
    text-align: center;
    float: right;
    height: 820px;
    width: 650px;
}

.article {
    border: 5px solid black;
    text-align: center;
    float: left;
    clear: left;
    height: 400px;
    width: 2690px;
    padding: 2px;
    margin: 2px;

}

.footer {
    border: 5px solid black;
    height: 200px;
    padding: 2px;
    margin: 2px;
    text-align: center;
    clear: both;
}