.header,
.nav,
.section,
.aside,
.article,
.footer {
    border: 5px solid black;
    padding: 2px;
    margin: 2px;
    text-align: center;
    box-shadow: 1px 2px 5px 5px bisque;
}

.header {
    height: 350px;
}

h1 {
    text-shadow: 2px 2px bisque;
}

.nav {
    height: 250px;   
}

.section {
    float: left;
    height: 400px;
    width: 2690px;
}

.aside {
    float: right;
    height: 820px;
    width: 650px;
}

.article {
    float: left;
    clear: left;
    height: 400px;
    width: 2690px;
}

.footer {
    height: 200px;
    clear: both;
}